repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: package-lock.json
      - id: check-case-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.55.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["."]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        files: ^.*$
        exclude: |
          (?x)^(
            package-lock\.json|
            LICENSE|
            \.npmrc|
            \.secrets\.baseline|
            \.git/.+
          )$
        entry: npx prettier --check
