{% extends "form-template.njk" %}

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
  {% block cookieBanner %}{% endblock %}

  {% block govukHeader %}
    {{ govukHeader({
      homepageUrl: "https://www.gov.uk"
    }) }}
  {%  endblock %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" rel="noopener" target="_blank" href="https://signin.account.gov.uk/contact-us">feedback (opens in new tab)</a> will help us to improve it.'
  }) }}

  {% block backLink %}
    {% if backLink %}
      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
      <span id="back">{{ govukBackLink({
        text: translate("govuk.backLink"),
        href: backLink
      }) }}</span>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/accessibility-statement",
          attributes: { target: "_blank" },
          text: 'general.footer.accessibilityStatement.linkText' | translate
        },
        {
          href: "https://www.gov.uk/help/cookies",
          attributes: { target: "_blank" },
          text: 'general.footer.cookies.linkText' | translate
        },
        {
          href: "/terms-and-conditions",
          attributes: { target: "_blank" },
          text: 'general.footer.terms.linkText' | translate
        },
        {
          href: "/privacy-notice",
          attributes: { target: "_blank" },
          text: 'general.footer.privacy.linkText' | translate
        },
        {
          href: "/contact-us?supportType=PUBLIC",
          attributes: { target: "_blank" },
          text: 'general.footer.support.linkText' | translate
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
  {% endblock %}
{% endblock %}
