{% extends "form-template.njk" %}

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
    {% block cookieBanner %}
        {% include 'banner.njk' %}
    {% endblock %}

  {% block govukHeader %}
    {{ govukHeader({
      homepageUrl: "https://www.gov.uk"
    }) }}
  {%  endblock %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: translate("govuk.phaseBanner.tag")
    },
    html: translate("govuk.phaseBanner.content")
  }) }}

  {% block backLink %}
    {% if backLink %}
      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
      <span id="back">{{ govukBackLink({
        text: translate("govuk.backLink"),
        href: backLink
      }) }}</span>
    {% endif %}
  {% endblock %}
{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}
{% block footer %}
  {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/cookies.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" {% if cspNonce %} nonce='{{ cspNonce }}{%  endif %}'>window.GOVSignIn.appInit("{{ gtmId }}", "{{ analyticsCookieDomain }}", "{{ gtmJourney }}")</script>
  {% endblock %}
{% endblock %}
