{% extends "hmpo-template.njk" %}

{% from "frontend-ui/build/components/cookie-banner/macro.njk" import frontendUiCookieBanner %}
{% from "frontend-ui/build/components/phase-banner/macro.njk" import frontendUiPhaseBanner %}
{% from "frontend-ui/build/components/header/macro.njk" import frontendUiHeader %}
{% from "frontend-ui/build/components/footer/macro.njk" import frontendUiFooter %}
{% from "frontend-ui/build/components/language-select/macro.njk" import frontendUiLanguageSelect %}

{% if May_2025_Rebrand %}
{%set htmlClasses = 'govuk-template--rebranded'%}
{% endif %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css"/>
{% endblock %}

{%- block pageTitle %}
  {{- (translate("govuk.error", { default: "Error" }) + ": ") if errorlist.length }}{{ hmpoTitle | safe }}{{ " – " + govukServiceName | safe if govukServiceName !== " " }} – GOV.UK One Login
{%- endblock %}

{% block header %}
  {% block cookieBanner %}
      {{ frontendUiCookieBanner({
    translations: translations.cookieBanner
  }
  )}}
  {% endblock %}

  {% block govukHeader %}
    {{ frontendUiHeader({
      translations: translations.header,
      homepageUrl: "https://www.gov.uk"
    }) }}
  {% endblock %}
{% endblock %}

{% block beforeContent %}
    {{ frontendUiPhaseBanner({
      translations: translations.phaseBanner,
      url: currentUrl,
      contactUrl: 'https://signin.account.gov.uk/contact-us'
    }) }}
  {% block backLink %}
    {{ frontendUiLanguageSelect({
      translations: translations.languageSelect,
      url: currentUrl,
      activeLanguage: htmlLang
    }) }}
      {% if backLink %}
        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
        <span id="back">{{ govukBackLink({
          text: translate("govuk.backLink"),
          href: backLink}) }}
        </span>
      {% endif %}

  {% endblock %}
{% endblock %}

{% block footer %}
  {{ frontendUiFooter({
    translations: translations.footer
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
      window.GOVUKFrontend.initAll()
      window.DI.appInit({
        ga4ContainerId: "{{ga4ContainerId}}",
        uaContainerId:"{{uaContainerId}}"
      },{
        enableGa4Tracking:{{ga4Enabled}},
        enableUaTracking:{{uaEnabled}},
        enablePageViewTracking:{{ga4PageViewEnabled}},
        enableFormErrorTracking:{{ga4FormErrorEnabled}},
        enableFormChangeTracking:{{ga4FormChangeEnabled}},
        enableFormResponseTracking:{{ga4FormResponseEnabled}},
        enableNavigationTracking:{{ga4NavigationEnabled}},
        enableSelectContentTracking:{{ga4SelectContentEnabled}},
        cookieDomain:"{{analyticsCookieDomain}}",
        isDataSensitive:{{analyticsDataSensitive}}
      });
    </script>
  {% endblock %}
{% endblock %}
