{% extends "base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set hmpoPageKey = "error.unrecoverable" %}

{% block mainContent %}
  <h1 data-id="error-title">{{ translate("error.unrecoverable.title") }}</h1>

  <p>{{ translate("error.unrecoverable.subTitle") }}</p>

  <h2>{{ translate("error.unrecoverable.subHeading") }}</h2>

  <div class="govuk-text">
    <p>{{ translate("error.unrecoverable.description") }}</p>
  </div>

  {{ govukButton({
    text: translate("error.unrecoverable.buttonText"),
    href: translate("error.unrecoverable.buttonLink")
  }) }}

  <div>
      <p><a href="https://signin.account.gov.uk/contact-us" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ translate("error.unrecoverable.contactMeLink") }}</a></p>
  </div>

{% endblock %}

  {% block scripts %}
    <input type="hidden" aria-hidden=true value="{{gaTaxonomyLevel2}}" id="gaTaxonomyLevel2">
    <script type="text/javascript" src="{{ assetPath }}/javascripts/analytics.js"></script>
    <script type="text/javascript" src="{{ assetPath }}/javascripts/all.js"></script>
    <script type="text/javascript" src="{{ assetPath }}/javascripts/application.js"></script>
    <script type="text/javascript" {% if cspNonce %} nonce='{{ cspNonce }}{% endif %}'>window.DI.appInit("{{ analyticsCookieDomain }}", "{{ uaContainerId }}", "{{isGa4Enabled}}", "{{ga4ContainerId}}", "{{ gtmJourney }}")</script>
    <script type="text/javascript" {% if cspNonce %} nonce='{{ cspNonce }}{% endif %}'>window.DI = window.DI || {};window.DI.httpStatusCode = 500</script>
  {% endblock %}
