name: Publish a package to npmjs

on:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: npm-publish
    steps:
      - name: Publish
        uses: govuk-one-login/github-actions/node/run-script@4616241694c035be4ea4a10fc0fe6521c0f079f8
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          script: npm publish --provenance --access public
