name: Scan repository

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    # Every Monday at 9am
    - cron: "0 9 * * 1"

concurrency:
  group: scan-repo-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  coverage:
    name: Collect coverage
    if: ${{ github.event_name != 'pull_request' }}
    uses: ./.github/workflows/run-unit-tests.yml
    with:
      coverage-report: true

  sonarcloud:
    name: SonarCloud
    needs: coverage
    runs-on: ubuntu-latest
    if: ${{ success() || needs.coverage.result == 'skipped' }}
    steps:
      - name: Run SonarCloud scan
        uses: govuk-one-login/github-actions/code-quality/sonarcloud@44b1a08e0c09d361058bc3707271bc36e4b1282d
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-artifact: ${{ needs.coverage.outputs.coverage-artifact || 'coverage' }}

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Run CodeQL scan
        uses: govuk-one-login/github-actions/code-quality/codeql@4616241694c035be4ea4a10fc0fe6521c0f079f8
        with:
          languages: javascript
